
<!-- Footer -->
<footer id="footer">
    <ul class="icons">
      <li>
        <a href="www.twitter.com/digitoxe" class="icon brands circle fa-twitter"
          ><span class="label">Twitter</span></a
        >
      </li>
    
      <li>
        <a href="www.instagram.com/digitoxe" class="icon brands circle fa-instagram"
          ><span class="label">Instagram</span></a
        >
      </li>

    </ul>

    <ul class="copyright">
      <li>&copy; login digital detoxe</li>
      <li>+255 763 143 335</li>
      <li>Design: <a href="www.instagram.com/smartpointtechlabs">smartpointtechlabs</a></li>
    </ul>
  </footer>