        
    <title><%- title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="/public/assets/css/main.css" />
    <noscript><link rel="stylesheet" href="/public/assets/css/noscript.css" /></noscript>
    <link href="https://fonts.googleapis.com/css?family=Barlow&display=swap" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="/public/images/icon.png">