<!DOCTYPE html>

<html>
  <head>
    <%- include('partials/head.ejs') %>
  </head>
  <body class="index is-preload">
    <div id="page-wrapper">
        
        <%- include('partials/nav.ejs') %> 

      <!-- Banner -->
      <section id="banner">
        <div class="inner">
          <header>
            <h2>LOGIN DETOX</h2>
          </header>
          <p>
            We do not Subvert <strong>Technology</strong>, we
            <br />
            Provide a Balance
            <br />
          </p>
          <footer>
            <ul class="buttons stacked">
              <li>
                <a href="#main" class="button fit scrolly"> LEARN MORE </a>
              </li>
            </ul>
          </footer>
        </div>
      </section>

      <!-- Main -->
      <article id="main">
        <header class="special container">
          <span class="icon solid fa-chart-bar"></span>
          <h2>
            PROFILE
          </h2>
          <p>
            Bearing the tagline
            <strong
              >‘We do not subvert technology, we provide a balance’ <br />
            </strong>
            <a> LOGIN DETOX </a> is committed at serving people, youth at the
            core to understand <br />
            their fully potentials and make them realize their purposes that are
            <br />
            now deteriorating due to too much internet dependence.
          </p>
        </header>

        <!-- One -->
        <section class="wrapper style2 container special-alt">
          <div class="row gtr-50">
            <div class="col-8 col-12-narrower">
              <header>
                <h2>
                  We are a team of committed youth based in Tanzania dedicated
                  at empowering people to unplug from Digital addiction as well
                  as Digital Dependency
                </h2>
              </header>
              <p>
                and positively consuming digital advantages that will eventually
                ensure balance between virtual and physical World. We offer
                services that will help our clients/customers to improve their
                lives in all touch points be it psychological, physical and
                economic by simply guiding them to unplug from digital
                dependence and restore the ownership of their lives again.
              </p>
              <footer>
                <ul class="buttons">
                  <li><a href="#" class="button">Find Out More</a></li>
                </ul>
              </footer>
            </div>
            <div class="col-4 col-12-narrower imp-narrower">
              <ul class="featured-icons">
                <li>
                  <span class="icon fa-clock"
                    ><span class="label">Feature 1</span></span
                  >
                </li>
                <li>
                  <span class="icon solid fa-volume-up"
                    ><span class="label">Feature 2</span></span
                  >
                </li>
                <li>
                  <span class="icon solid fa-laptop"
                    ><span class="label">Feature 3</span></span
                  >
                </li>
                <li>
                  <span class="icon solid fa-inbox"
                    ><span class="label">Feature 4</span></span
                  >
                </li>
                <li>
                  <span class="icon solid fa-lock"
                    ><span class="label">Feature 5</span></span
                  >
                </li>
                <li>
                  <span class="icon solid fa-cog"
                    ><span class="label">Feature 6</span></span
                  >
                </li>
              </ul>
            </div>
          </div>
        </section>

        <!-- Two -->
        <section class="wrapper style1 container special">
          <div class="row">
            <div class="col-4 col-12-narrower">
              <section>
                <span class="icon solid featured fa-check"></span>
                <header>
                  <h3>Vision</h3>
                </header>
                <p>
                  To become the leading Digital Detox Company and true champions
                  for the safer generation in the World by offering solutions
                  that are dedicated at changing how people live in the digital
                  world and enable them to strategically ride well through
                  internet with minimal impacts on their natural Environment.
                </p>
              </section>
            </div>
            <div class="col-4 col-12-narrower">
              <section>
                <span class="icon solid featured fa-check"></span>
                <header>
                  <h3>Mission</h3>
                </header>
                <p>
                  To create supportive environment, relevant and reliable
                  solutions for the people to attain the balance between
                  Technology and their natural Environment with the Key focus of
                  Creating Safer and Productive Generation.
                </p>
              </section>
            </div>
            <div class="col-4 col-12-narrower">
              <section>
                <span class="icon solid featured fa-check"></span>
                <header>
                  <h3>Values</h3>
                </header>
                <p>Commitment, Honesty, Integrity, Respect, Confidentiality</p>
              </section>
            </div>
          </div>
        </section>

        <!-- Three -->
        <section class="wrapper style3 container special">
          <header class="major">
            <h2>Our top <strong>Services</strong></h2>
          </header>

          <div class="row">
            <div class="col-6 col-12-narrower">
              <section>
                <a href="#" class="image featured"
                  ><img src="public/images/pic01b.jpg" alt=""
                /></a>
                <header>
                  <h3>DIGITAL DETOX THERAPY.</h3>
                </header>
                <p>
                  We organize one to one therapy sessions that help our clients
                  to heal gradually. This personal workshop is designed to
                  identify our client’s particular areas of difficulty and equip
                  them with the tools needed to log off regularly at home and at
                  work, along with Follow-up-sessions that take place from three
                  to six months afterwards.
                </p>
              </section>
            </div>
            <div class="col-6 col-12-narrower">
              <section>
                <a href="#" class="image featured"
                  ><img src="/public/images/pic04.jpg" alt=""
                /></a>
                <header>
                  <h3>DIGITAL DETOX CONSULTANCY</h3>
                </header>
                <p>
                  We can work with your company or organization to analyze your
                  team digital use and help build a culture of ‘intentional use’
                  of digital devices.
                </p>
              </section>
            </div>
          </div>
          <div class="row">
            <div class="col-6 col-12-narrower">
              <section>
                <a href="#" class="image featured"
                  ><img src="/public/images/pic03.jpg" alt=""
                /></a>
                <header>
                  <h3>DIGITAL DETOX VACATIONS</h3>
                </header>
                <p>
                  We organize a departure to the old ways where you can
                  rediscover the real you, relax, reflect, make plans and make
                  organic conversation without the influence and or digital
                  distractions
                </p>
              </section>
            </div>
            <div class="col-6 col-12-narrower">
              <section>
                <a href="#" class="image featured"
                  ><img src="/public/images/pic04.jpg" alt=""
                /></a>
                <header>
                  <h3>DIGITAL DETOX TRAININGS</h3>
                </header>
                <p>
                  You know how to get away with digital infatuation but you need
                  help to practice. We are here to easier the process
                </p>
              </section>
            </div>
          </div>

          <footer class="major">
            <ul class="buttons">
              <li><a href="#" class="button">See More</a></li>
            </ul>
          </footer>
        </section>
      </article>

      <!-- CTA -->
      <section id="cta">
        <header>
          <h2>Ready to do <strong> take that Step</strong>?</h2>
          <p>
            We do not subvert technology, we provide a balance          
        </p>
        </header>
        <footer>
          <ul class="buttons">
            <li><a href="#" class="button primary">Yes</a></li>
            <li><a href="#" class="button">I'm thinking about it </a></li>
          </ul>
        </footer>
      </section>

      <%- include('partials/footer.ejs') %>

    </div>

    <%- include('partials/tail.ejs') %>
  </body>
</html>
